
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    socket.on('toweb', function(args) {
      document.getElementById("height").innerHTML = "Height:"+args.height;

    });


</script>



<style type="text/css">


.contentText {
    padding: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 1px #00ff00, 0px 0px 0px #000000;
}

.demo8{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 400px;
}

#demo-frame > div.demo8 { 
    padding: 10px !important;
};
</style>


















<!DOCTYPE html>
<html>

<head>
  <title>Joystick Controls</title>
  <style>
  body
  {
    font-family: Courier, monospaced;
    font-size: 16px;
    font-weight: bold;
  }
  </style>
</head>

<body>
<input type="range" orient="vertical" min="0" max="255" value="0" class="slider" id="myRange" />
<p>Value: <span id="demo"></span></p>

<input type="range" orient="vertical" min="0" max="20" value="0" class="slider1" id="myRange1" />
<p>Value: <span id="demo1"></span></p>
<input type="range" orient="vertical" min="0" max="20" value="0" class="slider1" id="myRange2" />
<p>Value: <span id="demo2"></span></p>


<span id='height'>Height:0</span>

<hr>
<div style="border: 1px solid red; width: 128px; position: absolute; left:50%; top:150px;">
  <img src="static/joystick-base.png"/>
  <div id="stick1" style="position: absolute; left:32px; top:32px;">
  <img src="static/joystick-red.png"/>    
  </div>
</div>


<style type="text/css">
  .slider{
  -webkit-appearance: slider-vertical;
}
  .slider1{
  -webkit-appearance: slider-horizontal;
}
</style>





<script>

var slider = document.getElementById("myRange");
var output = document.getElementById("demo");

output.innerHTML = slider.value;

var slider1 = document.getElementById("myRange1");
var output1 = document.getElementById("demo1");

output1.innerHTML = slider1.value;

var slider2 = document.getElementById("myRange2");
var output2 = document.getElementById("demo2");
output2.innerHTML = slider2.value;



slider.oninput = function() {
  update()
  output.innerHTML = this.value;
}
slider1.oninput = function() {
  update()
  output1.innerHTML = this.value;
}
slider2.oninput = function() {
  update()
  output2.innerHTML = this.value;
}

class JoystickController
{
  // stickID: ID of HTML element (representing joystick) that will be dragged
  // maxDistance: maximum amount joystick can move in any direction
  // deadzone: joystick must move at least this amount from origin to register value change
  constructor( stickID, maxDistance, deadzone )
  {
    this.id = stickID;
    let stick = document.getElementById(stickID);

    // location from which drag begins, used to calculate offsets
    this.dragStart = null;

    // track touch identifier in case multiple joysticks present
    this.touchId = null;
    
    this.active = false;
    this.value = { x: 0, y: 0,}; 

    let self = this;

    function handleDown(event)
    {
        self.active = true;

      // all drag movements are instantaneous
      stick.style.transition = '0s';

      // touch event fired before mouse event; prevent redundant mouse event from firing
      event.preventDefault();

        if (event.changedTouches){

          self.dragStart = { x: event.changedTouches[0].clientX, y: event.changedTouches[0].clientY };
        }
        else{
          self.dragStart = { x: event.clientX, y: event.clientY };
        }

      // if this is a touch event, keep track of which one
        if (event.changedTouches){

          self.touchId = event.changedTouches[0].identifier;
        }
        update()
    }
    
    function handleMove(event) 
    {
        if ( !self.active ) return;

        // if this is a touch event, make sure it is the right one
        // also handle multiple simultaneous touchmove events
        let touchmoveId = null;
        if (event.changedTouches)
        {
          for (let i = 0; i < event.changedTouches.length; i++)
          {
            if (self.touchId == event.changedTouches[i].identifier)
            {

              touchmoveId = i;
              event.clientX = event.changedTouches[i].clientX;
              event.clientY = event.changedTouches[i].clientY;
            }
          }

          if (touchmoveId == null) return;
        }

        const xDiff = event.clientX - self.dragStart.x;
        const yDiff = event.clientY - self.dragStart.y;
        const angle = Math.atan2(yDiff, xDiff);
      const distance = Math.min(maxDistance, Math.hypot(xDiff, yDiff));
      const xPosition = distance * Math.cos(angle);
      const yPosition = distance * Math.sin(angle);

      // move stick image to new position
        stick.style.transform = `translate3d(${xPosition}px, ${yPosition}px, 0px)`;

      // deadzone adjustment
      const distance2 = (distance < deadzone) ? 0 : maxDistance / (maxDistance - deadzone) * (distance - deadzone);
        const xPosition2 = distance2 * Math.cos(angle);
      const yPosition2 = distance2 * Math.sin(angle);
        const xPercent = parseFloat((xPosition2 / maxDistance).toFixed(4));
        const yPercent = parseFloat((yPosition2 / maxDistance).toFixed(4));
        
        self.value = { x: xPercent, y: yPercent };
        update()
      }

    function handleUp(event) 
    {
        
        if ( !self.active ) return;

        // if this is a touch event, make sure it is the right one
        if (event.changedTouches && self.touchId != event.changedTouches[0].identifier) return;

        // transition the joystick position back to center
        stick.style.transition = '.2s';
        stick.style.transform = `translate3d(0px, 0px, 0px)`;

        // reset everything
        self.value = { x: 0, y: 0 };
        self.touchId = null;
        self.active = false;
        update()
    }

    stick.addEventListener('mousedown', handleDown);
    stick.addEventListener('touchstart', handleDown);
    document.addEventListener('mousemove', handleMove, {passive: false});
    document.addEventListener('touchmove', handleMove, {passive: false});
    document.addEventListener('mouseup', handleUp);
    document.addEventListener('touchend', handleUp);

  }
}

let joystick1 = new JoystickController("stick1", 64, 8);
function update()
{ 
  console.log('change')
let states={
 x: joystick1.value.x, 
 y: joystick1.value.y,
 z:slider.value,
 X_config:slider1.value,
 Y_config:slider2.value
}; 
  socket.emit('states',states);

}

// function loop()
// {
//   requestAnimationFrame(loop);
//   update();
// }

// loop();



$(document).ready(function() {

    // For the manual movement of the Slider Button, we use ui.value to supply value.
    $("#slider").slider({
        // This 'value' is the starting value.
        value: 20,
        min: 0,
        max: 100,
        step: 1,
        animate: "slow",
        slide: function(event, ui) {

            // Display the numeric value on the html page.
            $('#showValue').html('Value: ' + ui.value);


        }
    });

    
    // For page load, this is launched just once for initial settings.
    // Populate the value with preset text followed by the sliders current value (setable in slider via value).
    $('#showValue').html('Value: ' + $('#slider').slider('value') );

    
});



// For the Set clickable values, we use variable theValue to supply value.
function setValue(theValue) {

    // Animate the Button to the value clicked on.
    $("#slider").slider('value', theValue);

    //Display the numeric value on the html page.
    $('#showValue').html('Height: ' + theValue);


}
</script>

</body>
</html>