  {% block content %}
  {% if session['logged_in'] %}
    {% if data %}
  <p>ooops</p>
    {% else %}


  <!DOCTYPE html>
  <html>

  <head>
    <title>Airboss!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> 
    <script type="text/javascript" src="/static/script.js"></script>
      <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

  </head>

  <body>

<script type="text/javascript">
  

if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
}
  
</script>



    <a href="/logout">Logout</a> <br> <br>
    <h2>I believe I can fly!</h2>


<div class="container">
  <div class="row">
    <div id="map" class="col"></div>
    <div  class="col"><img src="https://cuadro.ml/video_feed" alt="video_feed"> </div>

  </div>

  <div class="row">

    <div class='klor'>
      <input type="range" orient="vertical" min="-20" max="20" value="0.1" class="slider1" id="myRange1" />
      <p>X_config: <span id="demo1"></span></p>
    </div>
    <div class='klor'>
      <input type="range" orient="vertical" min="-20" max="20" value="0.1" class="slider1" id="myRange2" />
      <p>Y_config: <span id="demo2"></span></p>
    </div>
    
    <div class='klor'>
      <input type="range" orient="vertical" min="0" max="255" value="0" class="slider1" id="myRange" />
      <p>Speed: <span id="demo"></span></p>
    </div>
    <div class='klor'>
      <table>

    <tr>
      <td><i class="fas fa-tachometer-alt" aria-hidden="true"></i> Speed</td>
      <td id='speed'></td>
    </tr>
    <tr>
      <td><i class='fas fa-arrows-alt-v'></i> Height</td>
      <td id='height'></td>
    </tr>
    <tr>
      <td><i class="fa fa-battery-full" aria-hidden="true"></i> Battery</td>
      <td id='battery'></td>
    </tr>
    <tr>
      <td><i class="fas fa-fast-forward"></i> Acceleration</td>
      <td id='acceleration'></td>
    </tr>
    <tr>
      <td><i class="fas fa-arrows-alt" aria-hidden="true"></i> Gyroscope</td>
      <td id='gyroscope'></td>
    </tr>
    
  </table>
    </div>
    <div class='klor'>
      <div style=" width: 128px; position: absolute; left:80%; ">
        <img src="../static/joystick-base.png"/>
        <div id="stick1" style="position: absolute; left:32px; top:32px;">
          <img src="../static/joystick-red.png"/>    
        </div>
      </div>
    </div>
      </div>
  
</div>
    <script type="text/javascript" src='/static/main.js'></script>
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
        <script type="text/javascript" src="https://www.liedman.net/leaflet-realtime/dist/leaflet-realtime.js"></script>
     <script type="text/javascript" src="/static/map.js"></script>
  </body>

  </html>
  {% endif %}

  {% else %}
  <script type="text/javascript">
    document.location.href = '/login';

  </script>

  {% endif %}
  {% endblock %}








